body {
  background-color: white; 
}
#pagewrap {
  margin: 0 auto 30px auto;
  width: 800px;
}
#workorder {
  text-align: right;
  font-size: 60px;
  color: #b7b7b7;
  margin-top: 50px;
}
#logo { 
  text-align: left; 
  float: left;
  width: 600px;
  overflow: hidden; 
  }
#meta { 
  width: 170px; 
  float: right; 
}
#meta td.meta-head { 
  text-align: right;
  color: #984806;
  width: 60px;
  height: 16px; 
}
#meta td input {
  width: 100%;  
  height: 16px; 
  text-align: right;
  border: 0px;
  padding: 0px; 
}
#meta td input:hover {
  background: #ecf170;
}
table {
  border-collapse: collapse;
}
table td, table th { 
  border: none 
}
textarea  {
  border:0 none;
  overflow: hidden;
}
* {
  margin:0;
  padding:0;
}
#line {
  margin-top: 15px;
  background-color:#984806;
  height: 1.5px;
  width: 800px;
}
.companyinfo {
  float: left;
  margin-top: 30px;
  text-align: left;
}
.companyinfo:hover {
  background: #ecf170;
}
.label {
  float: left;
  padding-top: 30px;
  margin-right: 5px;
  color: #984806;
}
#jobdesc {
  float: left;
  margin-top: 30px;
  height: 14px;
  width: 220px;
  text-align:left;
  border: 0px;
}
#jobdesc:hover {
  background: #ecf170;
}
#data {
  margin-top: 30px;
}
#data th#cancelh {
  background: 0;
  border: 0;
  width: 16px;
  padding: 0;
}
#data td.cancelcell {
  border: 0;
}
.cancel {
  background: url('images/cancel.png') no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}
#data th {
  background-color: #984705;
  color: white;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  border: 1px solid #ffffff;
  border-top: 1px solid #984705;
}
th#qty {
  width: 64px;
  border-left: 1px solid #984705;
}
#description {
  width: 400px;
}
#price {
  width: 160px;
}
th#total {
  width: 160px;
  border-right: 1px solid #984705;
}
#data input {
  background: transparent;
  border: 0px;
  width: 100%;
}
#data td:hover,
#data tr.even td:hover {
  background: #ecf170;
}
.wrapper {
  padding: 5px;
}
#data tr td {
  border-right: 1px solid #984806;
  border-left: 1px solid #984806;
}
#data tr.odd td {
  border-style: none solid;
}
#data tr.even td {
  border-style: none solid;
  background-color: #fde9d8;
}
#data tr.even td#subtotal {
  color: #7e7e7e;
  text-align: right;
  background: #ffffff;
  border-top: 1px solid #984705;
  border-left: 0;
  padding-right: 10px;
}
#data tr.odd td#add {
  padding: 5px 0;
  text-align: left;
  background: #ffffff;
  border: 1px solid #984705;
}
#data tr.odd td#taxes {
  color: #7e7e7e;
  text-align: right;
  margin-right: 10px;
  border-left: 0;
  padding-right: 10px;
}
#data tr.odd td#taxes:hover {
  background: #ffffff;
}
#data tr.even td#finaltotal {
  color: #7e7e7e;
  text-align: right;
  margin-right: 10px;
  border-left: 0;
  padding-right: 10px;
  background: #ffffff;
}
.wrapperlast {
    padding: 5px;
    border-bottom: 1px solid #984705;
}
.wrapperbottom {
  padding: 5px;
  border-style: solid none;
  border-color: #984705;
  border-width: 1px;
}
#payable {
  padding-top: 30px;
  text-align: center;
}
#payable input {
  border: 0;
}
#payable input:hover {
  background: #ecf170;
}
#thankyou {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  font-style: italic;
  font-family:"Verdana", Verdana, Sans-serif;
}
#fakerow {
  display:none;
}
.clear {
  clear: both;
}