body {
  background-color: white; 
}
#logo {
  background-image: url(Images/logo.png);
  background-color: #2c96ae;
  border-width: 5px 2.5px 5px 5px;
  border-style: none solid solid none;
  border-color: white;
  height: 67px;
  width: 299px;
  background-repeat: no-repeat;
  float: left;
}
#searchbox {
  background-color:#2c96ae;
  height: 72px;
  width: 598px;
  border-style: none solid;
  border-width: 2.5px;
  border-color: white;
  float: left;
}
#search {
  color: white;
  font-size: 30px;
  text-shadow: 298aa2 -30px -20px 30px;
  position: absolute;
  top: 15px;
  left: 340px;
}
#searchinput {
  position: absolute;
  top: 25px;
  left: 440px;
}
#link {
  background-color:#2c96ae;
  height: 72px;
  width: 145px;
  border-left-style: solid;
  border-width: 2.5px;
  border-color: white;
  color: white;
  font-size: 11px;
  float: left;
}
#logo2 {
  background-color:#cbcbcb;
  height: 15px;
  width: 299px;
  float: left;
  border-right-style: solid;
  border-width: 2.5px;
  border-color: white;
}
#searchbox2 {
  background-color:#a0cbd5;
  height: 15px;
  width: 598px;
  float: left;
  border-style: none solid;
  border-width: 2.5px;
  border-color: white;
}
#link2 {
  background-color:#a0cbd5;
  height: 15px;
  width: 145px;
  float: left;
  border-left-style: solid;
  border-width: 2.5px;
  border-color: white;
}
.same {
  background-color: yellow;
}
.clear {
  clear: both;
}
#button {
  margin-top: 5px;
}